

body {
    box-sizing: border-box;
    background: #DC2424;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.clock {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    border: 15px solid black;
    box-shadow: inset 0 0 40px rgba(138, 85, 85, 0.8),
                     0 0 40px rgba(255, 255, 255, 0.8),
                     0 0 50px rgba(25, 170, 5, 0.8),
                     0 0 50px rgba(7, 109, 128, 0.9) ;
    position: relative;
}
.clock .number {
    --rotation: 0;
    position: absolute;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}
.clock .num1 { --rotation: 30deg; }
.clock .num2 { --rotation: 60deg; }
.clock .num3 { --rotation: 90deg; }
.clock .num4 { --rotation: 120deg; }
.clock .num5 { --rotation: 150deg; }
.clock .num6 { --rotation: 180deg}
.clock .num7 { --rotation: 210deg; }
.clock .num8 { --rotation: 240deg; }
.clock .num9 { --rotation: 270deg; }
.clock .num10 { --rotation: 300deg; }
.clock .num11 { --rotation: 330deg; }
.clock .num12 { --rotation: 0deg; }


.clock  .akrepi {
    --rotation: 0;
    position: absolute;
    bottom:50%;
    left:50%;
    border: 1px solid white;
    transform-origin: bottom;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translate(-50%) rotate(calc(var(--rotation)*1deg));
}
.clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    
}

.clock .akrepi.second {
    width: 3px;
    height: 45%;
    background-color: red;
}
.clock .akrepi.minute {
    width: 6px;
    height: 40%;
    background-color: rgb(43, 42, 42);
}
.clock .akrepi.hour {
    width: 8px;
    height: 35%;
    background-color: black;
}

@media screen and (max-width: 600px) {
    .clock {
        width: 18rem;
        height: 18rem;
        background-color: rgba(255, 255, 255, 0.973);
        border-radius: 50%;
        border: 15px solid black;
        box-shadow: inset 0 0 40px rgba(138, 85, 85, 0.8),
                         0 0 40px rgba(255, 255, 255, 0.8),
                         0 0 50px rgba(25, 170, 5, 0.8),
                         0 0 50px rgba(7, 109, 128, 0.9) ;
        position: relative;
    }
  }
