#dv1 {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
h1 {
	color: white;
	font-size: 50px;
	font-weight: 800;
}
p {
	color: white;
	font-weight: bold;
}
body {
  background-image: url('catt.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.navbar  {

    background-color: #a09fa1 !important;
    font-size: 16px;

}
