body {
    font-family: 'Playfair Display', serif; 
    font-family: 'Montserrat', sans-serif;

    background-color: rgb(252, 244, 244);

  }
html {
    scroll-behavior: smooth;
}

.navbar {
    background: transparent;
    background-color: transparent;
    color: white ;
    font-size: 1.4rem !important;
    font-weight: bolder;
}
.navscr
{
    background-color: rgb(32, 59, 59);
    color: white ;
    font-size: 1.4rem !important;
    font-weight: bolder;

}
.navbar-brand  {
    color: white;
    padding: 0.5rem 1rem;
}
.navbar  .navbar-brand:hover { 

    background-color: rgb(69, 108, 121) !important;
    border-radius: 30px;
    color:white !important;
    padding: 0.5rem 1rem;

}
.nav-link {
    color:white !important;
    margin: 0  0.5rem;
    
}
.navbar .nav-link:hover { 
    background-color: rgb(69, 108, 121) !important;
    border-radius: 30px;
}


#jumboPort {
    background: #030003;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1a585e, #030003);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1a585e, #030003); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #1a585e, #030003); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 100%;
    width: 100%;;
    font-size: 6rem;
    font-weight: bold;
    color: rgb(216, 216, 216);
    justify-content: center;
    align-items: center;
}
.row{
    margin-left: 0;
    margin-right: 0;
}

#jumboPort p:first-of-type{
 
    animation: fadeInAnimation ease 2s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
#jumboPort p:last-of-type {
    font-size: 1.2rem;
    position: absolute;
    bottom:5rem;  
    animation: fadeInAnimation ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
.divback
{   
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.portofolio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgb(6, 37, 37);
    font-weight: bold; 
}
.portofolio p{
    margin-bottom: 0;
}

img {
    width: 320px;
    height:200px;  
    border-radius: 12px; 

}



hr {
    width: 300px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color:rgb(14, 6, 37);
    }

.footer {
    background-color:  rgb(32, 59, 59);
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 10%;
    color: rgb(44, 119, 119); 
 
}  
.fas {
    color:  rgb(209, 203, 148);
}
.footer p {
    color: rgb(209, 203, 148);
}
.footer div{
    justify-content: center;
    display: flex;
    align-items: center;
    flex: column;
    padding: 1rem;
}




#jumpToCont{
        padding-top: 70px;
        margin-right: auto;
        margin-left: auto;
    }
#jumpToPorto{
        padding-top: 70px;
    }
#jumpToAbout{
        padding-top: 60px;
        overflow-wrap: break-word;
    }

 #jumpToAbout div{
        background-color: #2f5f5f;
        color: rgb(216, 216, 216);
        padding: 2rem 0;
        text-align: justify;  
        border-radius: 25px;;     
    }
.btn-primary {
    color: white !important;
}

.prova{
    filter: brightness(90%);

}
.navbar-mobclick{
    background-color: rgb(32, 59, 59)!important;
    transition: ease .5s !important;

}
.header {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    justify-content: end;
    align-items: end;
   
}
div.text-block {
    position: absolute;
    justify-content: end;
    padding-top: 150;
    padding-left: 250px;
    display: none;
}

.divback
{   
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.divback:hover img,
.divback:focus img {
      transform: scale(1.02);
      transition: all .2s;
      filter: brightness(80%);
  }
.divback:hover .text-block {
     display: block;
}

.divback .text-block {
      align-items: flex-end;
      justify-self: start;
}


@keyframes fadeInAnimation { 
0% { 
    opacity: 0; 
} 
100% { 
    opacity: 1; 
 } 
} 





  @media only screen and (max-width: 600px) {
    #jumboPort {
        font-size: 3rem;
    }
    #jumboPort p:last-of-type {
        font-size: 1rem;     
    }
    .footer {
      height: auto; 
    }
     div .flex-column{
        padding: 0;
    }
    div .flex-column:first-of-type{
        padding-top: 1rem;
    }
    .footer p{
        padding-top: 0.5rem;
    }
  }


