* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(
    rgb(255, 136, 0) , rgb(247, 247, 137), blue    );
    
}
.everything {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    margin: 0;
}
h1 {
    margin-top: 70px;
    color: rgb(76, 3, 192);
    margin-bottom: 40px;
    font-size: 3rem;
}
.music-container {
    width: 28rem;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 80px 0 0 0;
    z-index: 10;
}
.image {
    position: relative;
    width: 120px;
}
.image img {
    border-radius: 50%;
    object-fit: cover;
    height: 120px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}
.image::after {
    content: '';
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%,40%);
}

.music-container.play  .image img {
    animation-play-state: running;
}
@keyframes rotate {
   from {
       transform: rotate(0deg);
   }
   to{
       transform:rotate(360deg);
   }

}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1 ;
}
.actionbtn {
    background-color: white;
    border: none;
    color: rgb(228, 147, 93);
    font-size: 1rem;
    padding: 10px;
    margin: 0 15px;
    cursor: pointer;
}
.actionbtn:focus {
    outline: 0;
}
.actionbtn.actionbtnlarge {
    color: rgb(219, 125, 63);
    font-size: 1.5rem;
}
.musicinfo {
    color: rgb(255, 255, 255);
    background-color: rgba(122, 122, 122, 0.521);
    border-radius: 12px 12px 0 0;
    position: absolute;
    top: 0;
    width: calc( 100% - 50px);
    left: 20px;
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}
.music-container.play .musicinfo {
    opacity: 1;
    transform:translateY(-100%);
}
.musicinfo h3 {
    margin: 0;
}

.musiclist {
    color: rgb(255, 255, 255);
    background-color: rgba(122, 122, 122, 0.521);
    border-radius: 0 0 12px 12px;
    position: absolute;
    bottom: 0;
    width: calc( 100% - 50px);
    left: 20px;
    padding: 10px 10px 10px 10px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}
.music-container.show .musiclist {
    opacity: 1;
    transform:translateY(100%);
}
.music-container #listabtn {
    color: black;
}
.navigation #listabtn {
    padding: 0;
    padding-left: 20px;
    border: none;
    background-color: white;
    margin-top: 0px;
}
.navigation #listabtn:focus {
    outline: none;
}


.progressbcont {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin:10px 0;
    height: 4px;
    width: 100%;

}
.progress {
    background-color:  rgb(219, 125, 63);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}


@media screen and (max-width: 600px){
    .everything {
    display: flex;
    justify-content: start;   }
    .music-container {
        width: 95%;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        display: flex;
    
}
h3{
    font-size: 0.9rem;
}
.navigation{
    padding-left: 2rem;
    
}

.actionbtn{
    margin: 10px;
    padding: 0;
}}




.checked {
    color: orangered;
}

li {
    cursor: pointer;
    list-style: none;
    border-bottom: 1px solid rgb(233, 226, 134);
}
li:hover {
    color: rgb(80, 64, 233);
}
 